<h1>All Members</h1>

<% @members.each do |member| %>
  <p>Name: <%= member.name %></p>
  <p>Age: <%= member.age %></p>
  <p><a href="/members/<%= members.id %>">Show Members</a></p>
  <hr />

<% end %>
