<h2>Add new member</h2>
<form method="post"action="/members">
  <div class="add_new_member">
  <label for="name">Name:</label>
  </div>
  <input type="text" name="name" id="name"/>

  <div class="add_new_member">
  <label for="age">Age:</label>
  </div>
  <input type="text" name="age" id="age"/>


  <input type="submit" value="Add member"/>
</form>
