<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">
  <title>Body Burner Gym</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body background= "/images/background image.jpg">
      <h1>Body Burner Gym</h1>
  <nav class="topnav">
    <ul>
      <li>
        <a href="/members">Members
      </a>
      </li>
      <li>
        <a href="/members/new">Add new members</a>
      </li>
      <li>
        <a href="/gym_sessions">List all classes</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
